{% extends "base.html" %}
{% load static %}
{% block css %}
.css-Pane {
    padding: 14px 16px 22px;
    display: flex;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

div {
    display: block;
}

.css-MaxWidthGrid {
    max-width: 960px;
}

.css-Title {
    font-weight: 700;
    letter-spacing: normal;
    line-height: 40px;
}

.css-Detail {
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 22px;
    margin-top: 4px;
}

.css-ContentRatings {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 22px;
    padding: 8px 0px;
    white-space: pre-wrap;
    box-sizing: border-box;
    margin-top: 14px;
    border-top: 1px solid rgb(237, 237, 237);
    border-bottom: 1px solid rgb(237, 237, 237);
}

.css-ContentRatings em {
    color: rgb(255, 47, 110);
    font-style: normal;
}

.hollow {
    float: left;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
}

.css-Self-Rate {
    float: left;
    margin: 15px 0px 0px;
}

.css-RateTitle {
    font-size: 17px;
    text-align: left;
}

.css-Self-Stars {
    margin: 3px 0px 0px;
}

.css-UnratedStars {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 40px;
}

.wine_image {
    max-width: 25%;
    float: left;
}

.grid-x {
    border-bottom: 1px solid rgb(237, 237, 237);
}

.button-rating {
    background: none;
    font-size: 40px; 
    padding: inherit;
    color: orange;
}

{% endblock %}
{% block content %}
    {% comment %} <img src="/media/{{ wine.image }}"> {% endcomment %}
    {% comment %} <img src="https://via.placeholder.com/150"> {% endcomment %}
    <div class="grid-x grid-margin-x">
        <div class="large-8 medium-12 small-12 cell large-offset-2">
            <div class="cell large-2 meduim-2 small-4">
                <img class="wine_image" src="{% static 'image/wine_image.jpg' %}" alt="wineImage">
            </div>
            <div class="cell large-4 meduim-4 small-4">
                <h2 class="css-Title">{{ wine.title }}</h2>
                <div class="css-Detail">{{ wine.country }} ・ {{ wine.winery }}</div>
                <div class="css-ContentRatings">Average Rating ★{{ avg_rate }} ({{ rate_stacked }})&nbsp;&nbsp;・&nbsp;&nbsp;<em>Predicted ★{{ predicted_rate }}</em></div>
                <button class="hollow button alert" href="#" style="margin-top: 20px; margin-right: 20px;">Add to WishList</button>
                <div class="css-Self-Rate">
                    <div class="css-RateTitle">
                        <div class="css-Self-wordRate"><b>My Rate ★ {{ my_rate.rating }}</b></div>
                        {% comment %} <p>★★★★★</p> {% endcomment %}
                        {% if my_rate.rating is none %}
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/1">★</a>
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/2">★</a>
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/3">★</a>
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/4">★</a>
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/5">★</a>
                        {% else %}
                            <a class="button-rating">★</a>
                            <a class="button-rating">★</a>
                            <a class="button-rating">★</a>
                            <a class="button-rating">★</a>
                            <a class="button-rating">★</a>
                            <a class="button-rating" href="/ratingWine/{{ wine.id }}/0" style="font-size:10pt">(cancel)</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="large-8 medium-12 small-12 large-offset-2 medium-offset-2">
            <div class="info-contents-box">
                <p></p>
                <h6><b>Variety:</b> {{ wine.variety }}</h6>
                <h6><b>Winery:</b> {{ wine.winery }}, {{ wine.province }}, {{ wine.country }}</h6>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}